# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.log
tags
orbit.key
.sass-lint.yml

# Folders
_obj
_test
bin/
goo
pkg/
build/
releases/
.vendor/
.vscode/
testScripts

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
todo.txt
src/debug
.idea/

